/* 
https://www.fonts.net.cn/commercial-free-32767/fonts-zh-1.html
1. 字制区喜脉体
https://fileres.fonts.net.cn/font-39067-210103115301.zip?response-content-disposition=attachment%3Bfilename%3D%22ZiZhiQuXiMaiTi.zip%22&auth_key=1612498270-601cc52233c4c5x67185435-0-06c4bceca334f6d26e3b3eb10db6bf04
*/

@font-face {
    font-family: 'AAA'; // 字制区喜脉体
    src: url('https://6b61-kangyouknowwho-8ge6apb585a940c6-1304576484.tcb.qcloud.la/font/ZiZhiQuXiMaiTi-2.ttf?sign=625a7f22842caacba2153333b94ec031&t=1612500112');
    src: url('https://6b61-kangyouknowwho-8ge6apb585a940c6-1304576484.tcb.qcloud.la/font/ZiZhiQuXiMaiTi-2.ttf?sign=625a7f22842caacba2153333b94ec031&t=1612500112') format('ttwofff'),
        url('https://6b61-kangyouknowwho-8ge6apb585a940c6-1304576484.tcb.qcloud.la/font/ZiZhiQuXiMaiTi-2.ttf?sign=625a7f22842caacba2153333b94ec031&t=1612500112') format('truetype'),
        url('https://6b61-kangyouknowwho-8ge6apb585a940c6-1304576484.tcb.qcloud.la/font/ZiZhiQuXiMaiTi-2.ttf?sign=625a7f22842caacba2153333b94ec031&t=1612500112') format('svg');
    font-weight: normal;
    font-style: normal;
}